.tem_1_10 .m-container {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-right: 0 none transparent;
    border-top: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    background: -moz-linear-gradient(top, none, none);
    background: -o-linear-gradient(top, none, none);
    background: linear-gradient(top, none, none);
    background: -webkit-gradient(linear, left top, left bottom, from(none), to(none));
    background-size: auto;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    -o-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    height: 100%;
    box-sizing: border-box;
}

.tem_1_10 .m-container>div {
    width: 100%;
    height: 100%;
    position: relative;
}

.tem_3_28 .mw-nav-open {
    padding: 10px 0;
    display: block;
    text-decoration: none;
    float: left;
    font-weight: bold;
}

.tem_3_28 .mw-nav-open .mw-navbtn-icon {
    font-size: 18px;
    color: #ffffff
}

.tem_3_28_nav .mw-nav-close {
    margin: 0;
    padding: 12px;
    position: absolute;
    right: 3px;
    top: 3px;
    color: #333;
}

.tem_3_28_nav .mw-nav-close .mw-nav-close-inner i {
    font-size: 20px;
}

.tem_3_28_nav {
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
    top: 0;
    /*background: #FFF;*/
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tem_3_28_nav .mw-nav-inner-box {
    margin: 0;
    padding-top: 47px;
    box-sizing: border-box;
    height: 100%;
    /* background */
    background-color: #fff;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background: -webkit-linear-gradient(none, none);
    background: -moz-linear-gradient(none, none);
    background: -ms-linear-gradient(none, none);
    background: linear-gradient(none, none);
    background-size: auto;
}

.tem_3_28_nav .mw-nav-inner {
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

.tem_3_28_nav .mw-nav-item {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
}

.tem_3_28_nav .mw-nav-item .mw-nav-item-link {
    margin: 0;
    padding: 14px 0;
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tem_3_28_nav .mw-nav-item .mw-nav-item-link.current {
    font-size: 16px;
    color: #2ecc71
}

.tem_9_52 * {
    box-sizing: border-box;
}

.tem_9_52 .pic_m_t_1 {
    border-top: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    border-left: 0px solid #fff;
    /* border radius */
    border-radius: 0px;
    /* opacity */
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    /* box-shadow */
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    -o-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    overflow: hidden;
}

.tem_9_52 .w-image-box {
    display: block;
    /* more style */
    box-sizing: border-box;
    overflow: hidden;
}

.tem_9_52 .w-image-box img {
    border: 0;
    width: 100%;
    height: 100%;
}

.tem_4_31 .m-container {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-right: 0 none transparent;
    border-top: 0 none transparent;
    border-bottom: 0 none transparent;
    border-left: 0 none transparent;
    border-radius: 0;
    background-color: rgb(32, 32, 32);
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    background: -moz-linear-gradient(top, none, none);
    background: -o-linear-gradient(top, none, none);
    background: linear-gradient(top, none, none);
    background: -webkit-gradient(linear, left top, left bottom, from(none), to(none));
    background-size: auto;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    -o-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    height: 100%;
    box-sizing: border-box;
}

.tem_4_31 .m-container>div {
    width: 100%;
    height: 100%;
    position: relative;
}

.tem_5_2 * {
    box-sizing: border-box;
}

.tem_5_2 .mw-btn {
    /* reset */
    display: block;
    text-decoration: none;
    /* size */
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* font */
    font-size: 14px;
    color: #fff;
    /* background */
    background-color: transparent;
    background-image: url(//ntemimg.wezhan.cn/contents/sitefiles2001/10007281/images/-15025.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background: -webkit-linear-gradient(none, none);
    background: -moz-linear-gradient(none, none);
    background: -ms-linear-gradient(none, none);
    background: linear-gradient(none, none);
    background-size: auto;
    /* border */
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tem_5_2 .mw-btn .mw-iconfont {
    font-size: 14px;
}

.tem_5_2 .mw-btn .mw-txt {
    word-wrap: break-word;
}

.tem_5_2 .mw-btn .mw-iconfont.mw-icon-hide {
    display: none;
}

.tem_6_43 * {
    box-sizing: border-box;
}

.tem_6_43 .mw-btn {
    /* reset */
    display: block;
    text-decoration: none;
    /* size */
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* font */
    font-size: 14px;
    color: #fff;
    /* background */
    background-color: transparent;
    background-image: url(//ntemimg.wezhan.cn/contents/sitefiles2001/10007281/images/-15026.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background: -webkit-linear-gradient(none, none);
    background: -moz-linear-gradient(none, none);
    background: -ms-linear-gradient(none, none);
    background: linear-gradient(none, none);
    background-size: auto;
    /* border */
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tem_6_43 .mw-btn .mw-iconfont {
    font-size: 14px;
}

.tem_6_43 .mw-btn .mw-txt {
    word-wrap: break-word;
}

.tem_6_43 .mw-btn .mw-iconfont.mw-icon-hide {
    display: none;
}

.tem_7_55 * {
    box-sizing: border-box;
}

.tem_7_55 .mw-btn {
    /* reset */
    display: block;
    text-decoration: none;
    /* size */
    height: 33px;
    line-height: 33px;
    text-align: center;
    /* font */
    font-size: 14px;
    color: #fff;
    /* background */
    background-color: transparent;
    background-image: url(//ntemimg.wezhan.cn/contents/sitefiles2001/10007281/images/-15027.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background: -webkit-linear-gradient(none, none);
    background: -moz-linear-gradient(none, none);
    background: -ms-linear-gradient(none, none);
    background: linear-gradient(none, none);
    background-size: auto;
    /* border */
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tem_7_55 .mw-btn .mw-iconfont {
    font-size: 14px;
}

.tem_7_55 .mw-btn .mw-txt {
    word-wrap: break-word;
}

.tem_7_55 .mw-btn .mw-iconfont.mw-icon-hide {
    display: none;
}

.tem_11_50 .w-company-info {
    line-height: 20px;
    text-align: center;
}

.tem_11_50 .w-company-info .company-info-item a {
    display: block;
    padding-left: 18px;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 12px;
    margin-left: 5px;
}

.tem_11_50 .w-company-info .company-info-item:first-child {
    margin-top: 0;
}

.tem_11_50 .w-company-info .company-info-item .company-info-icon.mw-icon-hide {
    display: none
}

.tem_11_50 .w-company-info .company-info-item .company-info-icon {
    position: relative;
    left: -5px;
    margin-left: -18px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 18px;
    vertical-align: top;
}

.tem_11_50 .w-company-info .company-info-item .ltd-icon {
    color: #D7D7D7;
    font-size: 18px;
}

.tem_4_35 .mw-title {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    color: #404040;
    font-size: 20px;
    text-align: left;
    line-height: 28px;
    word-wrap: break-word;
    word-break: normal;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.tem_5_49 .mw-createtime {
    /*-padding-*/
    padding: 0;
    margin: 0;
    /*-size-*/
    width: 100%;
    height: auto;
    /*-font-*/
    font-family: 'Microsoft YaHei', arial;
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    line-height: 1.4;
    word-wrap: break-word;
    word-break: normal;
}

.tem_5_49 .mw-createtime .mw-createtime-item {
    /*-padding-*/
    padding: 0;
    margin: 0;
}

.tem_7_24 .w-line {
    /*-block-*/
    display: block;
    /*-margin-*/
    margin: 0;
    margin-top: -0;
    padding: 0;
    /*-top-*/
    top: 50%;
    /*-size-*/
    width: 100% !important;
    /*-font-*/
    font-size: 0;
    /*-border-*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(221, 221, 221, 1);
    /*-box-shadow-*/
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    -o-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

.tem_12_14 .m-slide {
    margin: 0 auto;
    padding: 0;
    width: 320px !important;
    height: 119px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    visibility: hidden;
}

.tem_12_14 .m-slide-inner {
    margin: 0;
    padding: 0;
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 320px !important;
    height: 119px;
    overflow: hidden;
}

.tem_12_14 .m-slide-inner>div {
    width: 320px !important;
}

.tem_12_14 .m-slide-inner .content-box {
    width: 320px !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.tem_12_14 .m-slide-inner .content-box>.content-box-inner {
    width: 100% !important;
    height: 119px !important;
    position: absolute;
    z-index: 0 !important;
    top: 0;
    left: 0;
    background-size: cover;
}

.tem_12_14 .m-slide-inner .content-box>.smAreaC {
    height: 119px;
    margin-left: 0px !important;
}

.tem_12_14 .m-slide-btn-box {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.tem_12_14 .m-slide-btn-box div,
.m-slide-btn-box div:hover,
.m-slide-btn-box .m-slide-btnav {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}

.tem_12_14 .m-slide-btn-box div {
    background-color: rgba(000, 000, 000, .5);
}

.tem_12_14 .m-slide-btn-box div:hover,
.m-slide-btn-box .m-slide-btnav:hover {}

.tem_12_14 .m-slide-btn-box .m-slide-btnav {
    background-color: rgba(255, 255, 255, 1);
}

.tem_12_14 .m-slide-btn-box .m-slide-btndn,
.m-slide-btn-box .dn:hover {}

.tem_12_14 .m-slide .m-slide-arrowl {
    margin: 0;
    padding: 0;
    top: 0;
    left: 10px;
}

.tem_12_14 .m-slide .m-slide-arrowr {
    margin: 0;
    padding: 0;
    right: 5px;
    left: auto !important;
}

.tem_12_14 .m-slide .m-slide-arrowl,
.tem_12_14 .m-slide .m-slide-arrowr {
    margin: 0;
    padding: 20px 8px;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.tem_12_14 .m-slide .m-slide-arrowl .m-itemicon,
.tem_12_14 .m-slide .m-slide-arrowr .m-itemicon {
    color: #FFF;
    font-size: 18px;
    filter: alpha(opacity=8);
    -moz-opacity: .8;
    -webkit-opacity: .8;
    -ms-opacity: .8;
    -o-opacity: .8;
    opacity: .8;
}

.tem_12_14 .m-slide .m-slide-arrowl:hover {
    color: #fff;
}

.tem_12_14 .m-slide .m-slide-arrowr:hover {
    color: #fff;
}

.tem_12_14 .m-slide .m-slide-arrowl.m-slide-arrowldn {
    background-position: -256px -37px;
}

.tem_12_14 .m-slide .m-slide-arrowr.m-slide-arrowrdn {
    background-position: -315px -37px;
}

.tem_12_14 {
    position: relative;
}

.smart-resize .tem_12_14 .w-slide-control {
    display: block;
}

.tem_12_14 .w-slide-control {
    display: none;
    padding: 0 8px;
    position: absolute;
    border-radius: 4px 4px 0 0;
    background-color: #609ee9;
    width: 85px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
}

.tem_12_14 .w-slide-control.w-control-top {
    top: -32px;
    right: 0;
}

.tem_12_14 .w-slide-control.w-control-bottom {
    bottom: -32px;
    right: 0;
    border-radius: 0 0 4px 4px;
}

.tem_12_14 .w-slide-control .w-control-link {
    width: 20px;
    height: 32px;
    float: left;
    text-decoration: none;
}

.tem_12_14 .w-slide-control .w-control-link .w-control-icon {
    margin-top: 7px;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50px;
    background-color: #3E89E5;
}

.tem_12_14 .w-slide-control .w-control-link .w-control-icon .mw-iconfont {
    color: #FFF;
    font-size: 10px;
}

.tem_12_14 .w-slide-control .w-control-text {
    width: 45px;
    float: left;
    display: inline-block;
    font-family: Tahoma;
}

.tem_12_14 .w-slide-control .w-control-link .mw-iconfont {
    font-size: 12px;
    color: #FFF;
}

.tem_12_14 .w-slide-control .w-control-link .mw-iconfont:hover {
    color: #ecf5ff;
}

.tem_18_31 .mw-detail {
    /*-padding-*/
    padding: 0;
    margin: 0;
    /*-size-*/
    width: 100%;
    height: auto;
    /*-font-*/
    color: #404040;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    word-wrap: break-word;
    word-break: normal;
}

.tem_18_31 .mw-detail img {
    max-width: 100%;
    height: auto;
}

.tem_18_31 .w-detailcontent {
    text-align: center;
}

.tem_18_31 .pagination {
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    color: #666;
    font-size: 12px;
}

.tem_18_31 .pagination .page,
.tem_18_31 .pagination .other_page {
    margin-right: 5px;
    display: inline-block;
    border: 1px #DDDDDD solid;
    border-radius: 3px;
    background-color: #FFF;
    padding: 9px 12px;
    color: #666;
    font-size: 12px;
}

.tem_18_31 .pagination .page:hover,
.tem_18_31 .pagination .other_page:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

.tem_18_31 .pagination .current_page {
    margin: 0 11px 0 5px;
    color: #404040;
}

.tem_18_31 .pagination .page.hover {
    background-color: #EEEEEE;
    color: #404040;
}

.tem_18_31 .w-detail table,
.tem_18_31 .w-detail td,
.tem_18_31 .w-detail th {
    border-width: 1px !important;
}